Repository Elementary-team/flutter-elementary, pull requests merged in 2022-01, with the labels that each got.

#39 [Elementary-test] Add params to test function
  packages/elementary_test/CHANGELOG.md
  packages/elementary_test/lib/src/widget_model_test.dart
Labels: elementary-test

#42 Intellij/auto activation
  packages/elementary_tools/plugin_intellij/CHANGELOG.md
  packages/elementary_tools/plugin_intellij/README.md
  packages/elementary_tools/plugin_intellij/build.gradle.kts
  packages/elementary_tools/plugin_intellij/gradle.properties
  packages/elementary_tools/plugin_intellij/src/main/kotlin/ru/elementaryteam/elementarypluginintellij/ElementaryCliChecker.kt
  packages/elementary_tools/plugin_intellij/src/main/kotlin/ru/elementaryteam/elementarypluginintellij/ElementaryCliInstallAction.kt
  packages/elementary_tools/plugin_intellij/src/main/kotlin/ru/elementaryteam/elementarypluginintellij/ElementaryModuleGeneratorMenuAction.kt
Labels: enhancement

#44 Chore: bump mocha to 9.2.0 and newer.
  packages/elementary_tools/plugin_vscode/package.json
Labels: elementary-vscode-plugin
