Repository Elementary-team/flutter-elementary, pull requests merged in 2025-01, with the labels that each got.

#128 Remove deprecated api.
  packages/elementary_tools/plugin_intellij/src/main/kotlin/ru/elementaryteam/elementarypluginintellij/ElementaryModuleGeneratorDialog.kt
Labels: elementary-intellij-plugin

#130 Chore: update README badges to display download counts instead of deprecated popularity.
  README.md
  documentation/elementary/docs/libs/elementary-helper/intro.md
  documentation/elementary/docs/libs/elementary-test/intro.md
  documentation/elementary/docs/libs/elementary/intro.md
  packages/elementary/README.md
  packages/elementary_helper/README.md
  packages/elementary_test/README.md
Labels: documentation

#131 Chore: update Java setup in workflows to use JDK 17.
  .github/workflows/elementary_analysis.yaml
  .github/workflows/elementary_helper_analysis.yaml
  packages/elementary/example/android/app/build.gradle
  packages/elementary/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/elementary/example/android/settings.gradle
  packages/elementary_helper/example/android/app/build.gradle
  packages/elementary_helper/example/android/build.gradle
  packages/elementary_helper/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/elementary_helper/example/android/settings.gradle
Labels: automation
